[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==0.19.2"
pafy = "*"
youtube-dl = "*"
pyfiglet = "*"

[dev-packages]

[requires]
python_version = "3.9"
